body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
}

.header {
    font-size: 20px;
    text-align: center;
}

.header .logo-img {
    width: 100px;
    margin: -7px 0px;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.story-card {
    background: #fff;
    padding: 14px 0px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    transition: 0.3s ease;
}

.story-card:hover {
    transform: translateY(-5px);
}

.story-card img {
    /* width: 100%; */
    height: 350px;
    object-fit: cover;
}

.story-title {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}